@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Garamond;
  src: url(./fonts/Garamond.ttf);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
}

body {
  margin: 30px 0;
  font-family: Montserrat-Regular, Tahoma, sans-serif;
  background: #fff;
}

h1 {
  font-size: 64px;
  letter-spacing: 2px;
  color: #fff;
}

h2 {
  margin-bottom: 8px;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6ac6ba;
  border-bottom: 1px solid #6ac6ba;
}

h3 {
  margin-bottom: 20px;
  color: #777;
}

h4 {
  color: #484848;
}

p {
  font-family: Garamond, Times, serif;
  color: #222;
}

/**              Wrapper              */

.wrapper {
  width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template: 200px auto 0 / 250px auto;
  grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
  box-shadow: 0 0 5px 4px rgba(122,122,122,0.2);
}

.field {
  display: grid;
}

.field-header {
  grid-area: header;
}

.field-aside {
  grid-area: aside;
}

.field-main {
  grid-area: main;
}

.field-footer {
  grid-area: footer;
}

/**              Header               */

header {
  background: #bbb;
}

.header__container {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
}

.header__photo {
  width: 250px;
  height: 200px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.header__photo img {
  width: 140px;
  height: 140px;
  margin: 20px;
  border-radius: 100px;
}

.header__name {
  margin-left: 36px;
  display: grid;
  justify-content: start;
}

.header__name p {
  margin-left: 5px;
  font-family: Montserrat-Regular, Tahoma, sans-serif;
  font-size: 24px;
  color: #fff;
}

/**              Sidebar               */

aside {
  width: 250px;
  padding: 5px 0;
  border: 1px solid #6ac6ba;
  border-top: transparent;
}

aside h2 {
  padding-top: 8px;
}

.aside__container {
  margin: 2px 0 20px 25px;
  padding-right: 25px;  
}

.aside__container>li {
  margin: 20px 0;
}

.aside__container h2,
.aside__container p,
.aside__container>li li {
  display: grid;
  justify-content: end;
}

.aside__container p {
  margin: 1px 0;
}

.contacts__info a {
  height: 30px;
  display: grid;
  grid-template-columns: auto 25px;
  justify-items: end;
  align-items: center;
  font-family: Garamond, Times, serif;
  line-height: 0.5;
}

.contacts__info a:hover {
  text-decoration: underline;
}

/**               Main                */

main {
  margin-top: 15px;
}

.main__container {
  margin: 0 40px;
}

main h2 {
  margin-top: 20px;
}

main p {
  margin: 5px 0 30px 0;
  font-size: 16px;
  text-align: justify; 
}

.education p {
  margin: 0;
  color: #555;
}

.experience__example {
  text-decoration: underline;
}

.experience__example:hover {
  color: #6ac6ba;
}

.examples {
  padding: 5px 10px;
  text-align: center;
  line-height: 1.8;
  color: #6ac6ba;
  border: 1px solid #6ac6ba;
  border-radius: 3px;
  cursor: pointer;
} 

.examples:hover {
  color: #fff;
  background: #6ac6ba;
}
